.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.input {
    width: 250px;
    border: 1px solid gray;
    text-align: center;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 16px;
}

.button {
    width: 250px;
    border: 1px solid gray;
    text-align: center;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 16px;
    cursor: pointer;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 5px;
}

body {
    background-color: #F5F5F5;
}